.typeAheadDropdown {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapSearchDiv {
  display: flex;
  position: relative;
  height: 35px;
  width: 300px;
}
.searchInput {
  flex: 1;
  -ms-flex: 1;
}
.searchDiv {
  width: inherit;
  position: absolute;
  top: 35px;
}
.wrapButtons {
  display: flex;
  justify-content: space-between;
  height: 30px;
}
.btnPrevious,
.btnNext {
  border: none;
  width: 80px;
}
